langchain
openai==1.14.2
unstructured[all-docs]
python-docx 
python-pptx
PyPDF2
langchain_openai
requests
secure-smtplib
pymodm
bcrypt
python-dotenv
tornado==6.4
tenacity==8.2.3
yagmail
streamlit==1.32.2
pymongo[srv]